div {
    background-size: contain; 
    background-image: url("https://avatars.mds.yandex.net/i?id=8233c08e85b27f61c55502171ceaaf87_l-5283245-images-thumbs&n=13");
};
.wrapper {
    height: 1111px;
};
.footer {
    background-color: black;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 99%;
    height: 101%;
};
.text {
    float: none;
    font-size: 29px;
    word-spacing: 40px;
    padding-left: 29px;
};